h1 {
    text-align: center;
    background-color: #00CED1;
}
h2 {
    text-align: center;
}

hr {
    width: 80%;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
    color: #000080;
}
li {
    display: inline-block;
}
img {
    align: center;
    width: 200px;
    border: 5px solid green;
    }
body {
    background-color: aquamarine;
}
footer {
    color: #191970;
    background-color: bisque;
    text-align: center;
}
ol {
    padding 200;
    
}